@import "~src/styles/global/_colors";

.lobby-card {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.restaurant-name {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $dark-gray;
    cursor: pointer;
  }
}

.delivery-address {
  font-size: medium;
}

.no-lobbies-info {
  width: 100%;
  text-align: center;
  color: $dark-gray;
  padding: 15% 0;
  box-sizing: border-box;
}
