<div class="cart">
    <mat-card>
        <h3>Cart</h3>
        <mat-list class="cart__items" *ngIf="items">
            <mat-list-item *ngFor="let item of items">
                <div class="cart-item">
                    <div class="cart-item__name"> {{ item.name }} </div>
                    <div class="cart-item__price"> {{ item.price }} </div>
                    <mat-icon class="cart-item__delete-btn" (click)="deleteItem(item)">delete</mat-icon>
                </div>
            </mat-list-item>
        </mat-list>
        <span class="cart__items--empty" *ngIf="items?.length === 0">(cart is empty)</span>
    </mat-card>
</div>
