<h3>Create new lobby</h3>

<div class="centered-form-container">
    <form class="centered-form" [formGroup]="lobbyForm">

        <mat-form-field class="centered-form__field">
            <mat-label>Your name</mat-label>
            <input formControlName="ownerName" matInput placeholder="Name">
            <mat-error>
                Your name is <strong>required</strong> to create new lobby!
            </mat-error>
        </mat-form-field>

        <div class="lobby-form__address">
            <mat-form-field class="centered-form__field">
                <mat-label>Street</mat-label>
                <input formControlName="street" matInput placeholder="Street">
                <mat-error>
                    Street is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="centered-form__field">
                <mat-label>Nr</mat-label>
                <input formControlName="nr" matInput placeholder="building/apartment">
                <mat-error>
                    Nr is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="centered-form__field">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="City">
                <mat-error>
                    City is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>


        <mat-form-field class="centered-form__field">
            <mat-label>Restaurant</mat-label>
            <select formControlName="restaurantId" matNativeControl required>
                <option value="" disabled hidden>Choose restaurant</option>
                <option *ngFor="let restaurant of restaurants$ | async" [value]="restaurant.id">
                    {{ restaurant.name }}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field class="centered-form__field">
            <mat-label>Closing time</mat-label>
            <input
                    formControlName="expirationHour"
                    placeholder="Choose time for lobby to close"
                    matInput
                    [ngxTimepicker]="picker"
                    [format]="24"
            >
            <ngx-material-timepicker
                #picker
                [enableKeyboardInput]="true"
                [theme]="timePickerTheme"
            ></ngx-material-timepicker>
        </mat-form-field>

        <button [disabled]="disableCreateButton" (click)="createNewLobby()" mat-raised-button color="primary">Create lobby</button>
    </form>
</div>
