@import "~src/styles/global/_colors";

.info {
  width: 100%;
  margin: 30px auto;
  background-color: $success-color;
  color: $white;
  border-radius: 3px;
  box-shadow: 0 0 4px $dark-gray;
  text-align: center;
  padding: 10px 0 20px 0;
}

.user-id {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
}
