@import "~src/styles/global/_colors";

.cart {
  min-width: 290px;
  margin: 20px auto;
}

.cart__items--empty {
  margin: 0;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__delete-btn {
    cursor: pointer;
  }
}

.cart__summary {
  margin-top: 20px;
}

.cart-item--summary {
  @extend .cart-item;

  box-sizing: border-box;
  padding: 0 16px;
}

.cart-item--summary.total {
  font-size: 1.2rem;
  font-weight: 600;
}
