/* Here are defined global app styles */

@import "~leaflet/dist/leaflet.css";

@import "styles/global/_breakpoints";
@import "styles/global/_colors";
@import "styles/global/_fonts";

html, body { height: 100%; }
body { margin: 0; font-family: $font-family; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @media (min-width: $large) {
    width: 960px;
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
