@import "~src/styles/global/_colors";

header {
  background-color: $white;
  box-shadow: 0 2px 5px $light-gray;
  padding: 15px 0;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 1.6rem;
  }

  &:hover {
    color: $dark-gray;
    cursor: pointer;
  }
}
